body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

/* Estilos para la cabecera)*/
header {
    background-color: #f0f0f0;
    padding: 20px;
}

h1, h2 {
    color: #333;
}
#img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}